#count{
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: -10px;
}

#table1{
    margin-top: : 5% !important;
}

#text_msg {
    color: blue;
  }

  b {
    color: blue;
  }
 
h6 {
    color:blue;
  }